<a href="https://colab.research.google.com/github/Shiva-15711/NNDL/blob/main/NNDL_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mount Drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Import Libraries

In [2]:
import numpy as np
import math as mt
import random
import pandas as pd

Load Data

In [3]:
data = pd.read_csv('/content/drive/MyDrive/NNDL_data/NNDL_Assignment_Data.csv')
data.head()

            X           Y
0  5551.82208  4983.17184
1  4983.17184  4888.39680
2  4888.39680  5072.95872
3  5072.95872  5196.25980
4  5196.25980  5641.29720

Min and Max Values

In [4]:
x_min = data['X'].min()
x_max = data['X'].max()

y_min = data['Y'].min()
y_max = data['Y'].max()
x_min

3377.9196

Missing Values Treatment

In [5]:
print(data.isnull().sum())

X    0
Y    0
dtype: int64

Normalisation

In [6]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

num_vars = ['X', 'Y']
data[num_vars] = scaler.fit_transform(data[num_vars])

data.head()

          X         Y
0  0.397877  0.293800
1  0.293800  0.276454
2  0.276454  0.310234
3  0.310234  0.332801
4  0.332801  0.414254

Data Split

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data.X, data.Y, test_size = 0.20, random_state = 10)

Initialisation

In [8]:
m=random.uniform(-5,5)
c=random.uniform(-5,5)
eta=0.01
epochs=1000
c_vel = 0.5
v_m = 0
v_c = 0

Train the Model

In [9]:
for iter in range(epochs):
  for sample in range(x_train.shape[0]):
    
    m_deriv = -1 * (y_train.iloc[sample] - (m + c_vel*v_m) * x_train.iloc[sample] - c - c_vel*v_m) * x_train.iloc[sample]
    c_deriv = -1 * (y_train.iloc[sample] - (m + c_vel*v_m) * x_train.iloc[sample] - c - c_vel*v_m)

    v_m = (c_vel * v_m) - eta * m_deriv
    v_c = (c_vel * v_c) - eta * c_deriv

    m = m + v_m
    c = c + v_c
print('model parameter m and c',m,c)

model parameter m and c 0.7760685403570768 0.09831563819238978

Model prediction

In [10]:
y_pred_train = []
for i in x_train:
  y_p_tr = (m * i) + c
  y_pred_train.append(y_p_tr)
y_pred_train = np.array(y_pred_train)

In [11]:
y_pred_test = []
for i in x_test:
  y_p_te = (m * i) + c
  y_pred_test.append(y_p_te)
y_pred_test = np.array(y_pred_test)

Error Metrics Calculation

In [12]:
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error


#Training Accuracies
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

Root mean square error 0.12190507042905536
Mean square error 0.014860846196312947
Mean absolute error 0.08467112263004639

In [13]:
#Testing Accuracies
mse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', mse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)

Root mean square error 0.12251571418583855
Mean square error 0.01501010022246608
Mean absolute error 0.08761134410023143

Deployment

In [14]:
X=int(input('enter X value'))
print('X=',X)

x_nor = (X - x_min)/(x_max - x_min)
y_nor = m*float(x_nor) + c

Y = y_nor*(y_max - y_min) + y_min
print('Y=',Y)

enter X value300
X= 300
Y= 1526.415085067355